[Unit]
Description=PiFrameBot
After=syslog.target network.target

[Service]
WorkingDirectory=/home/pi
Restart=always
RestartSec=300
Environment=bot_token=<token>
Environment=bot_pass=<password>
ExecStart=/home/pi/piframebot.pl
User=pi

[Install]
WantedBy=multi-user.target
